@model EverUnited.Models.Team

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_team.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Team</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.team_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.team_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.google_map)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.google_map)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.has_ground)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.has_ground)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
