@model IEnumerable<EverUnited.Models.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_team.cshtml";
}
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>

</head>
<body>
    <h2>Teams</h2>
   
    @{
        if (Session["Role"] != null && Session["Role"].ToString().Equals("Admin"))
        {
        <a class="btn btn-primary" href="/Team/Create" style="float:left">Add New &nbsp;<i class="fa fa-group"></i></a>
        }
    }
    <input type="text" id="search" placeholder="Type to search" style="color:black" />
    <div class="component">
        <table class="colorOfRowData overflow-y" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Info</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody id="tableid">
                @foreach (var item in Model)
                {



                    //you will open user info page
                    <tr>
                        <th>@item.team_id </th>
                        <td>
                            @item.name
                            <i style="float:right" onclick="window.open('@(Url.Action("Details", "Team", new { id= item.team_id}))')" class="fa fa-info-circle"></i>
                        </td>
                        <td>
                            <p>@item.contact_person</p>
                            <p>@item.contact_number</p>
                        </td>
                        <td>
                            @item.address
                        </td>


                        @{
                            if (Session["Role"] != null && Session["Role"].ToString().Equals("Admin"))
                            {
                                <td class="link">


                                    <a href="/Team/Edit/@item.team_id" class="btn btn-default"><i class='fa fa-edit'></i></a>

                                </td>
                                <td class="link"><a onclick="deleteFunction(@item.team_id)" class="btn btn-default"><i class='fa fa-remove'></i></a></td>
                            }
                            else
                            {
                                <td class="link">


                                    <a href="/Team/Edit/@item.team_id" class="btn btn-default disabled"><i class='fa fa-edit'></i></a>

                                </td>
                                <td class="link"><a onclick="deleteFunction(@item.team_id)" class="btn btn-default disabled"><i class='fa fa-remove'></i></a></td>
     
                            }

                        }

                    </tr>

                }

            </tbody>
        </table>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>

    <script src="~/Scripts/jquery.stickyheader.js"></script>

    <script>

        function deleteFunction(idd)
        {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this team!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: "cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {

                    swal({
                        title: "Deleted!",
                        text: 'Success',
                        type:'success',
                        timer: 2000,
                        showConfirmButton: false,

                    });
                    setTimeout(function () {
                        window: location.href = "/Team/DeleteConfirmed?id=" + idd
                    }, 2000);


                } else {
                    swal({
                        title: "Cancelled",
                        text: 'Team is safe :)',
                        timer: 1000,
                        showConfirmButton: false,

                    });
                }
            });

        }
    </script>

    <script>
        $(function () {
            $('.row').click(function () {

            });
            $('.row .link').click(function (e) {
                e.stopPropagation();
            });
        });
    </script>
    <script>

        var $rows = $('#tableid tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>

</body>
</html>
