@model EverUnited.Models.Match_Scorer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_team.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Match_Scorer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Player.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Match.venue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Match.venue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.score)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.score_description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.score_description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.assist_player_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.assist_player_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
